html {
    background: black;
    color: white;
}

.gameBoard {
    border: 1px solid white;
    height: 75vw;
    max-height: 33vh;
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
    justify-content: space-around
}

.gameBoardCell {
    background-color: transparent;
    border: 1px solid hotpink;
    height: 100%;
    width: 100%;
}