html {
    background: black;
    color: white;
}

.gameBoard {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-row-gap: 10px;
    padding: 10px;
}

.gameBoardCell {
    background-color: transparent;
    border: 1px solid fuchsia;
    height: 100px;
    width: 100px;
    color: #f94242;
    font-size: 80px;
    padding: 0;
}

.marker-X {
    color: #f94242;
}

.marker-O {
    color: #0093ff;
}

.gameControls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 1em;
}


.formControl {
    display: flex;
    flex-direction: column;
}

.nameInputs {
    background: transparent;
    border: 1px solid white;
    height: 32px;
    border-radius: 3px;
    color: fuchsia;
    font-size: 16px;
    padding-left: 8px;
}

label {
    margin-bottom: 8px;
    font-size: 16px;
}

button {
    background: transparent;
    color: fuchsia;
    border: 1px dotted fuchsia;
    border-radius: 8px;
    padding: 16px;
    align-items: center;
}

button:hover {
    border-style: solid;
}

.winningCell {
    border: 3px solid white;
    box-shadow: inset 0 0 20px 9px #ff00ff85 
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: fuchsia;
    font-size: 3em;
}

.modal {
    width: 30vw;
    height: 30vw;
    background-color: #000000d9;
    box-shadow: 0 0 60px 10px #92f8a057;
    border: 1px dashed #00ff21;
    color: #00ff21;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    text-align: center;
    z-index: 2;
    position: absolute;
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 250px;
    border-radius: 4px;
    transform: translate(25%, 25%);
}


.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(3px);
}

.hidden {
    display: none;
}